@font-face {
	font-family: 'Montserrat';
	src: url('https://s3.sa-east-1.amazonaws.com/cdn.webeditor.link/builder20/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('https://s3.sa-east-1.amazonaws.com/cdn.webeditor.link/builder20/fonts/Montserrat/Montserrat-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('https://s3.sa-east-1.amazonaws.com/cdn.webeditor.link/builder20/fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('https://s3.sa-east-1.amazonaws.com/cdn.webeditor.link/builder20/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('https://s3.sa-east-1.amazonaws.com/cdn.webeditor.link/builder20/fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('https://s3.sa-east-1.amazonaws.com/cdn.webeditor.link/builder20/fonts/Open_Sans/OpenSans-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('https://s3.sa-east-1.amazonaws.com/cdn.webeditor.link/builder20/fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

