
#desc-text-img-3 .bg-wrap {
	background: #f4f5f6;
}#panel-login .bg-wrap {
    background-color: rgba(255,255,255,0.95);
}
#cookie-img-text .bg-wrap {
    background: #000000;
}
/*
*/

#testimonial-single-carousel .bg-wrap {
	background: #f4f5f6;
}#footer-social-text .bg-wrap {
    background-color: #F4F5F6;
}
